@import "../Currency/Currency";
@import "../Form/Form";

* {
    box-sizing: border-box;
  }
  
  body,
  html {
    width: 100%;
    min-height: 100vh;
  
  }
  


.App {
    display: flex;
    
}

.column-right, .column-left {
    width: 50%;
    
}